// colors

$primary-color: #205375;
$secundary-color: #112B3C;
$tertiary-color: #ffffff;

$opacity-colorr: #CCCCCC;
$warning-color: #F66B0E;

// shadows

$primary-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// height

$nav-height: 5rem;