@use '../../styles/variables';
@use '../../styles/mixins';

.navContainer {
  padding: 0 2rem;
  max-width: 100vw;
  background-color: variables.$tertiary-color;
  height: variables.$nav-height;
  box-shadow: variables.$primary-shadow;
  @include mixins.horizontal-between();
  align-items: center;
}


@media screen and (max-width: 920px) {
  .optionsContainer {
    display: none;
  }
}