@use '../../styles/variables';
@use '../../styles/mixins';

.navContainer {
  padding: 2rem;
  height: variables.$nav-height;
  box-shadow: variables.$primary-shadow;
  @include mixins.horizontal-between();
  align-items: center;
}