@use '../../styles/mixins';
@use '../../styles/variables';

.optionsContainer {
  width: 100%;
  @include mixins.horizontal-between();
  justify-content: flex-end;
  @include mixins.noMarks();
  
  &__option {
    cursor: pointer;
    border: 2px solid transparent;
    padding: 0.5rem;
    margin-left: 1rem;
    color: variables.$secundary-color;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-bottom-color: variables.$primary-color;
      color: variables.$primary-color;
    }
  }

}